body {
    margin: 0;
    font-family: Calibri, Arial, sans-serif;
}

header {
    background-color: #dddddd;
    text-align: center;
    line-height: 2;
    margin: 0 0 60px auto;
}

main{
    max-width: 47.5%;
    margin: 0 auto;
}

footer {
    background-color: #1F487C;
    color: white;
    font-size: large;
    font-family: sans-serif;
    position: flex;
    bottom: 0;
    width: 100%;
}

section {
    margin: 30px auto;
}

nav {
    display: flex;
    justify-content: center;
    padding: 5px;
}

nav a {
    margin: 0 0.5em;
}

ul {
    font-variant: petite-caps;
}

h1, h2 {
    text-transform: uppercase; 
    background-color: #bfbfbf;
    letter-spacing: 0.5em;
    font-family: Cambria;
}

h1 {
    color: #1F487C;
    font-size: x-large;
    word-spacing: 1.5em;
}

h2 {
    color: #5F2727;
    font-size: large;
}

span {
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}
